* {
    font-family: Arial, sans-serif;
    color:#4b4949;
}

.hdrlinks {
    display:flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 10px;
    padding-right: 20px;
}

.hdrreftxt a {
    padding-top: 6px;
    font-size: 13px;
    padding-right: 15px;
    text-decoration: none;
}

.hdrreftxt:hover a {
    text-decoration: underline;
}
.google-apps a {
    padding-top: 6px;
    font-size: 13px;
    padding-right: 25px;
    padding-bottom: 6px;
    text-decoration: none;

    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;

    border-radius: 2px;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
}

.google-signin a {
    background-color: #4387fd;
    font-size: 13px;
    font-family: arial, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: 15px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.google-apps:hover a {
    opacity: 0.9;
}

.searchbar{
    display: inline-block;
    justify-content: center;
}

.searchF:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#searchtext{
    border-radius: 24px;
    width: 500px;
    height: px;
    padding-left: 10px;
    padding-right: 10px;
    border: transparent;
    background-color: transparent;
    border-style: none;
    outline: none;
}

.logopic {
    margin-top: 140px;
}
.buttonbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonsrch {
    border-radius: 0px;
    margin-top: 30px;
    border: none;
    padding: 10px;
    padding-inline: 20px;
    margin-inline: 5px;
}

.buttonsrch:hover {
    box-shadow: 0 0 2px rgba(33,33,33,.2);
    background-color: #d8d8d8;
    color: black;
}

.searchF{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border-radius: 24px;
    width: 90%;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.100);
    background-color:transparent;
}

.footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
.linkl-grp {
    display: flex;
    flex-direction: row;
    /*padding-left: 10px;*/
}

.linkr-grp {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

.linkl {
    justify-content: center;
    margin-left: 10px;
    padding-right: 10px;
}
.linkr {
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
html {
    visibility: visible; opacity: 1;
}
